<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->

    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css -->
    <link rel="stylesheet"  href="http://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">

    <title>Product | Home </title>
</head>
<body>
    <div class="container">
        <%- include('./partials/_navbar.ejs')  %>
    </div>
    <%- body %>
    <%- include('./partials/_footer.ejs')  %>
</body>
</html>
